@import './variables.scss';

.app {
  background-image: linear-gradient(to right, $lavendar-pink, $lavendar-purple);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  color: $white;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
  }

  &__header {
    padding: 4.125rem 0;
  }

  &__logo {
    width: 3rem;
    height: 3rem;
    background-color: $white;
    margin-left: 4.4375rem;
    border-radius: 50%;
  }

  &__top,
  &__bottom {
    flex: 0 0 auto;
    margin-left: 4.4375rem;
    margin-right: 13rem;
    display: flex;
    flex-flow: row nowrap;
  }

  &__top {
    margin-bottom: 5rem;
  }

  &__bottom {
    margin-top: 5rem;
  }

  &__arrows {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
  }

  &__line {
    width: calc(100% - 27.375rem);
    height: 3px;
    background-image: linear-gradient(to right, $lavendar-pink, $white);
  }

  &__curves {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }

  &__curve-up {
    border: 3px solid $white;
    height: 9rem;
    width: 7rem;
    border-top-width: 0;
    border-left-width: 0;
    position: absolute;
    left: 0;
    top: -9rem;
    border-bottom-right-radius: 6rem 7rem;

    &__arrow {
      border: solid $white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 6px;
      transform: rotate(-135deg);
      position: relative;
      right: -95%;
    }
  }

  &__curve-down {
    border: 3px solid $white;
    height: 8rem;
    width: 7rem;
    border-bottom-width: 0;
    border-left-width: 0;
    position: absolute;
    left: 0;
    bottom: -8rem;
    border-top-right-radius: 6rem 7rem;

    &__arrow {
      border: solid $white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 6px;
      transform: rotate(45deg);
      position: relative;
      right: -95%;
      bottom: -89%;
    }
  }

  &__main-text-wrapper {
    flex: 1 0 auto;
  }

  &__main-text {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3.25rem;
    max-width: 35rem;
  }

  &__bottom {
    align-items: flex-end;
  }

  &__point {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $concrete-gray;
  }

  &__point + &__point {
    margin-top: .75rem;
  }

  &__footer {
    margin-left: 4.4375rem;
    margin-bottom: 2rem;
  }

  &__special-text {
    color: $concrete-gray;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
  }

  &__actions {
    display: flex;
    flex-flow: row nowrap;

    a {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
      color: $white;
      text-decoration: none;
    }

    a + a {
      margin-left: 1rem;
    }
  }
}

.btn {
  &__primary {
    min-width: 14.375rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: rgba($alabaster-gray, .3);
    border: 1px solid $white;
    color: $white;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    outline: none;
    box-shadow: 0 0 16px 4px rgba($royal-blue, 0.1);
    transition: 200ms ease-in-out;

    &:hover {
      background-color: rgba($alabaster-gray, .25);
    }

    &:active {
      background-color: rgba($alabaster-gray, .35);
    }
  }
}